<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediksi Harga Saham Riot Inc. Besok</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[url('{{url_for("static", filename="mundo.jpg")}}')] bg-cover bg-right bg-no-repeat">
    <div class="container mx-auto">
      <div
        class="px-4 py-6 inline-flex flex-col justify-center items-center w-full min-h-screen"
      >
        <div class="mb-8 w-full">
          <h1 class="text-center text-3xl text-white font-bold">
            User Knowledge Modelling
          </h1>
          <h1 class="text-center text-lg text-white font-bold">
            Prediksi 
          </h1>
        </div>

        <div class="flex justify-center items-center min-h-screen">
          <div
            class="bg-white bg-opacity-50 p-6 rounded-lg shadow-md col-span-2 sm:{{ 'col-span-1' if risk is not none else 'col-span-2' }} text-justify"
          >
            <h2 class="text-xl font-semibold mb-4">MASUKKAN DATA</h2>
            <form method="POST" action="">
              <div class="grid grid-cols-2 gap-4 w-full mb-4">
                <div class="col-span-2 xl:col-span-1">
                  <label class="block text-sm font-medium text-zinc-700">Close-1</label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      name="Close_1"
                      type="float"
                      class="w-full mt-1 px-4 py-2 border rounded-md bg-gray-100"
                      placeholder="Contoh: 0.1"
                      step="0.01"
                      value="{{ record['Close_1'] }}"
                      required
                    />
                  </div>
                  {% if errors.Close_1 %}
                  <p class="text-red-500 text-xs italic">{{ errors.Close_1 }}</p>
                  {% endif %}
                </div>
        
                <div class="col-span-2 xl:col-span-1">
                  <label class="block text-sm font-medium text-zinc-700">Close-2</label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      name="Close_2"
                      type="float"
                      class="w-full mt-1 px-4 py-2 border rounded-md bg-gray-100"
                      placeholder="Contoh: 0.1"
                      step="0.01"
                      value="{{ record['Close_2'] }}"
                      required
                    />
                  </div>
                  {% if errors.Close_2 %}
                  <p class="text-red-500 text-xs italic">{{ errors.Close_2 }}</p>
                  {% endif %}
                </div>
        
                <div class="col-span-2 xl:col-span-1">
                  <label class="block text-sm font-medium text-zinc-700">Close-3</label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input
                      name="Close_3"
                      type="float"
                      class="w-full mt-1 px-4 py-2 border rounded-md bg-gray-100"
                      placeholder="Contoh: 0.1"
                      step="0.01"
                      value="{{ record['Close_3'] }}"
                      required
                    />
                  </div>
                  {% if errors.Close_3 %}
                  <p class="text-red-500 text-xs italic">{{ errors.Close_3 }}</p>
                  {% endif %}
                </div>
        
                <div class="flex justify-end gap-2">
                  <button
                    type="button"
                    id="clear-button"
                    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5"
                  >
                    Hapus
                  </button>
                  <button
                    type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        
          {% if prediction is not none %}
              <div class="flex justify-center items-center mt-6 p-6 rounded-lg shadow-md bg-blue-500">
                  <div class="flex flex-col items-center text-center">
                      <p class="text-white text-4xl lg:text-6xl font-bold">
                          {{ prediction }}
                      </p>
                      <p class="text-white text-xl mt-2">Prediksi Harga Riot Platform Inc.</p>
                  </div>
              </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("clear-button")
        .addEventListener("click", function () {
          const inputs = document.querySelectorAll('input[type="float"]');
          inputs.forEach((input) => (input.value = ""));
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
